@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{
    .nav__link{
        @apply relative text-base font-medium w-fit block after:block after:content-[''] after:absolute after:h-[3px]
        after:bg-rose-500 text-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition
        after:duration-300 after:origin-right
}
.text-bg{
    background-image: linear-gradient(to right, #d71323cf 0%, #ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
}
